{% extends "reservations/base.html" %}
<!-- This page can hold the landing/header image, and the greyed out rectangle for the content. the login, logout, resgistration forms can 
     then extend this page, so they will be put ontop of the grey content rectangle. reuses more modular code, less repitition. :) -->
<div class="accounts-background-img">
<!-- Just need to get the margins, background, and rectangle image setup -->
    <div class="content-rect">
    <center>
    {% block contents %}
    {% endblock contents %}
    </center>
    </div>

</div>
