{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay-register">
        {% if messages %}
            <br>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content change-password">
                <h3>Change your Password</h3></br>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-control">
                        {{ form|crispy}}
                    </fieldset>
                    <button class="login-button" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
{% endblock content %}
