{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/landing_header.jpg" alt="Image">
    <div class="overlay">
        {% if messages %}
            <br>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content">
                <h3>Login</h3>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-control">
                        {{ form }}
                    </fieldset>
                    <div class="option-container">
                        <button class="login-button" type="submit">Login</button>
                        <div class="menu-item" id="forgot-password">
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </div>
                        <div class="new-user">New User?</div>
                        <button class="login-button register-button"><a href="{% url 'register' %}">Register Here</a></button>
                    </div>
                </form>
                </div>
            </div>
        </div>
{% endblock content %}
