{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/landing_header.jpg" alt="Image">
    <div class="overlay">
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content">
                <h3>Forgot Password</h3></br>
                <p>Please enter the email address associated with your account.</p>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-control-forgot-password">
                        {{ form }}
                    </fieldset>
                    <div class="menu-item">
                        <button type="submit">Request Password Reset</button></br></br>
                    </div>
                </form>
                </div>
            </div>
        </div>
{% endblock content %}
