{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/landing_header.jpg" alt="Image">
    <div class="overlay">
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content">
                <h3>An email has been sent with instructions to reset your password.</h3></br>
                <div class="menu-item">
                        <button onclick=window.location.href="{% url 'login' %}">Return to Login</button></br></br>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
