{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
<link rel="icon" type="/image/x-icon" href="media/site/anchorwhite.png">
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay-register" style="padding-bottom: 4vw;">
        {% if messages %}
        <br>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <img src="/media/site/logo1_variant1.png" alt="Logo" >
        <div class="text-content form-register">
            <img id="account-img" src="{{ user.image.url }}">
            <h3 style="padding: 1.5vw;">{{user.first_name}} {{user.last_name}}'s Profile:</h3>
            <fieldset class="form-register">
                <div class="register-grid-container">
                    <div class="register-section profile"><label class="register-label">First Name:&nbsp;</label><div class="register-input">{{user.first_name}}</div></div>
                    <div class="register-section profile"><div class="register-label">Last Name:&nbsp;</div><div class="register-input">{{user.last_name}}</div> </div>
                    <div class="register-section profile"><div class="register-label">Email Address:&nbsp;</div><div class="register-input">{{ user.email }}</div> </div>       
                    <div class="register-section profile"><div class="register-label">Phone:&nbsp;</div><div class="register-input">{{ user.phone }}</div> </div>
                    <div class="register-section profile"><div class="register-label">Address:&nbsp;</div><div class="register-input">{{ user.street }}</div></div>
                    <div class="register-section profile"><div class="register-label">City:&nbsp;</div><div class="register-input">{{ user.city }}</div> </div>
                    <div class="register-section profile"><div class="register-label">State:&nbsp;</div><div class="register-input">{{ user.state }}</div> </div>
                    <div class="register-section profile"><div class="register-label">Zipcode:&nbsp;</div><div class="register-input">{{ user.zip }}</div> </div>
                    <div class="register-section profile"><div class="register-label">Member since:&nbsp;</div><div class="register-input">{{ user.date_joined }}</div> </div>
                </div>
            </fieldset>
        </div>
        <button class="login-button register-button"><a href="{% url 'update_profile' %}">Update Profile</a></button>
        <br>
        <button class="login-button register-button"><a href="{% url 'change_password' %}">Change Password</a></button>
    </div>
</div>
{% endblock content %}
