{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
<link rel="icon" type"/image/x-icon" href="media/site/anchorwhite.png">
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/landing_header.jpg" alt="Image">
    <div class="overlay">
        <img src="/media/site/logo1_variant1.png" alt="Logo">
        <div class="text-content">
            <img class="account-img" src="{{ user.image.url }}">
            <h3>{{user.first_name}} {{user.last_name}}'s Profile:</h3></br>
            <h4>Email: {{ user.email }}</h4>
            <p class="text-secondary">Phone: {{ user.phone }}</p>
            <p>Address: <br>{{ user.street }}<br>{{ user.city }}, {{ user.state }} {{ user.zip }}</p>
            <p>Member since: {{ user.date_joined }}</p>
        </div>
        <div class="menu-item">
            <button onclick=window.location.href="{% url 'update_profile' %}">Update Profile</button>
        </div>
        <div class="menu-item">
            <button onclick=window.location.href="{% url 'change_password' %}">Change Password</button>
        </div>
    </div>
</div>
{% endblock content %}
