<!--

 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% extends "reservations/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/booking.css' %}"/> <!-- change to about us page css/ whatever css needed-->
{% endblock %}
{% block content %}
<!--available rooms html in here. the code below shows what the page recieves when loaded 
    (this page will only get loaded by doing an availability search)
    page recieves parameters "available_rooms", which is a list of room objects containing:
    one room of each size, that is available during selected dates. can loop through them on the page and each have a link 
    to book the room. that link will pass in roomID, checkInDate, checkOutDate, and guests to the booking view. 

    this page will also get another searchForm, which is the availability search, if the user wants to change the search

    Booking view be login_required, will take in those parameters, will use the pricing methods and the confirmation key generator to fill in the rest 
    of the reservation details and link to the logged in user. that would then serve as the booking/reservation confirmation, where the user can accept
    and it would be saved, or can go back to the rooms.html to search again.

    I think that about covers the reservation flow. if you think of anything i missed, please let me know. 
    
-->
<div class="banner-rooms">
    <div class="banner-rooms-container">
        <div class="banner-info-container">
            <div class="info-banner-text">
                <h1>Find your<br> perfect place to<br> stay</h1>
                <p>Moffat Bay Marina & Lodge beckons as more than a mere location; it stands as a haven, where you'll discover a seamless fusion of aquatic adventures, serene relaxation, and untouched natural beauty.</p>
            </div>
        </div>
        <img src="/media/site/lounge_room.jpg" alt="Image">
    </div>
    <form class="search" acton="#" method="POST"> {% csrf_token %}
        <!--This form will be replaced/updated with a form from the backend, similar to the registration page, once we get to the registration back end stuff in mod 7-->
        <div class="grid-item">
            <label for="first-date">
                <img src="/media/site/calendar_green.png" alt="Logo" class="label-icon">
                Your Check In:
            </label>
            <label>{{checkInDate}}</label>
            
        </div>
        <div class="grid-item">
            <label for="second-date">
                <img src="/media/site/calendar_green.png" alt="Logo" class="label-icon">
                Your Check Out:
            </label>
            <label>{{checkOutDate}}</label>
        </div>
        
        <div class="grid-item">
            <label for="num-guests">
                <img src="/media/site/guest_green.png" alt="Logo" class="label-icon">
                Number of Guests:
            </label>
            <label>{{guests}}</label>
        </div>
        <div class="grid-item">
            <div class="search-button-item"><a id="search-button" href="{% url 'book_now' %}">New Search</a></div> 
        </div>
    </form>
</div>
<div class="our-rooms">
    <div class="rooms-text">
        <h1>Available Rooms</h1>
        <p>It looks like we found just what you were looking for! We can provide the perfect space for your stay. Wake up to breathtaking sunrises over the bay, unwind under a starlit sky, or prepare yourself for a new adventure. Our staff is ready to pamper and serve you today!</p>
    </div>
    <div class="rooms-gallery">
        {% for room in available_rooms %}
        <div class="rooms-container">
            <img id="room_{{ room.size }}" src="/media/site/{{ room.size }}.png" alt="Room {{ room.roomID }}">
            <div class="rooms-text-container">
                <div>
                    <p>Room #: {{ room.roomID }}</p>
                    <h3>{{ room.size }}</h3>
                </div>
                <div class="middle-info">
                    <!-- So here we can maybe do dates instead of guests for example, 'is available from [checkin] to [checkout]' since the search doesn't filter out for #of guests -->
                    <p>Our luxurious {{ room.size }} option in room {{ room.roomID }} will comfortably sleep the {{guests}} guest(s) which you reqiure.</p>
                </div>
                <div>
                    <div class="room-button"><a href="{% url 'book-reservation' checkInDate checkOutDate guests room.roomID %}">Book Now</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}