<!--

 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'reservations/base.css' %}"/>
    <link rel="icon" type="/image/x-icon" href="../media/site/anchorwhite.png">
    <!--Extra css from other pages will get extended here-->
    {% block css%}
    {% endblock %}
    <!--title codes-->
    {% if title %}
        <title>Moffat-Bay Lodge - {{ title }}</title>
    {% else %}
    <title>Moffat-Bay Lodge</title> 
    {% endif %}
</head>
<body>
    <header class="navheader">
        <!--navigation bar-->
        <div class="navcontainer">
            <nav>
                <!--logo-->
                <a href="{% url 'reservations-home' %}" class="logo">
                    <img src="/media/site/logo1_variant1.png" alt="Logo">
                </a>
                <!--media only hamburger-->
                <input type="checkbox" name="menu_expand" id="menuBtn">
                <label for="menuBtn" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>
                <!--menu-->
                <div class="menu">
                    <div class="menu-item"><a href="{% url 'reservations-home' %}">Home</a></div>
                    <div class="menu-item"><a href="{% url 'attractions' %}">Attractions</a></div>
                    <div class="menu-item"><a href="{% url 'book_now' %}">Reservations</a></div>
                    <div class="menu-item"><a href="{% url 'reservation_lookup' %}"><img src="/media/site/search.png" alt="Logo">My Reservation</a></div>
                    <div class="menu-item"><a href="{% url 'about_us' %}">About Us</a></div>
                    <!--drop down menu for authenticated user 'my account' -->
                    {% if user.is_authenticated %}
                    <div class="menu-item dropdown">
                        <div class="menu-item dropdown-item"><a href="#" class="dropdown-toggle">My Account</a></div>
                        <div class="dropdown-content">
                            <div class="menu-item dropdown-item"><a href="{% url 'profile' %}">My Profile</a></div>
                            {% if user.is_superuser %}
                            <div class="menu-item dropdown-item"><a href="/admin/">Admin</a></div>
                            {% endif %}
                            <div class="menu-item dropdown-item"><a href="{% url 'logout' %}">Logout</a></div>
                        </div>
                    </div>
                    {% else %}
                    <!-- login menu item for logged out user -->
                    <div class="menu-item "><a href="{% url 'login' %}">Login</a></div>
                    {% endif %}
                    <div class="menu-button-item"><a href="{% url 'book_now' %}">Book Now</a></div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer-section main-section">
            <div class="footer-left">
                <h3>Useful</h3>
                <div class="menu">
                    <div class="menu-item"><a href="{% url 'reservations-home' %}">Home</a></div>
                    <div class="menu-item"><a href="{% url 'book_now' %}">Reservations</a></div>
                    {% if user.is_authenticated %}
                        <div class="menu-item"><a href="{% url 'logout' %}">Logout</a></div> 
                    {% else %}
                        <div class="menu-item"><a href="{% url 'login'%}">Login</a></div> 
                    {% endif %}
                </div>
            </div>
            <div class="footer-column subscribe">
                <h2>GET IN TOUCH</h2>
                <!-- took out message stream her for later configuration -->
                {% if has_mailform_messages %}
                    {% for message in messages %}
                        {% if 'mail_form' in message.tags %}
                            <p class="signup-feedback {{ message.tags }}">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Stay connected with us! Join our mailing list to receive updates and special discounts.</p>
                {% endif %}
                <form class="email-form" method='POST'>
                    {% csrf_token %}
                    {{mailform.email}}
                    <button type="submit" name="mailform_submit">Subscribe</button>
                </form>
            </div>
            <div class="footer-right">
                <h3>Learn More</h3>
                <div class="menu">
                    <div class="menu-item"><a href="{% url 'about_us' %}">About Us</a></div>
                    <div class="menu-item"><a href="{% url 'attractions' %}">Attractions</a></div>
                    <div class="menu-item"><a href="{% url 'book_now' %}">Accommodations</a></div>
                </div> 
            </div>
        </div>
        <div class="footer-section bottom-section">
            <p></p>
            <p>&copy; 2023 Moffat Bay Lodge</p>
            <div class="socials">
                <a href="https://www.facebook.com/search/top?q=moffat-bay" target="_blank"><img src="/media/site/Facebook (logo).png" alt="Logo"></a>
                <a href="https://www.youtube.com/results?search_query=moffat-bay" target="_blank"><img src="/media/site/YouTube (logo).png" alt="Logo"></a>
                <a href="https://twitter.com/search?q=moffat%20bay&src=typed_query&f=top" target="_blank"><img src="/media/site/twitter.png" alt="Logo"></a>             
            </div>
        </div> 
      </footer>
</body>
</html>