{% extends "reservations/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/landing.css' %}"/> <!-- change to about us page css/ whatever css needed-->
{% endblock %}
{% block content %}
<!--book reservation  page HTML here
    this page gets a single room object passed to it as available_rooms, and working on getting in/out dates and guests passed as well.
    once done it will also recieve registration_form passed into it. 
    this page will be login-required, so the user of the session will be available to use for the registration booking backend
    
-->

{% endblock %}