{% extends "reservations/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/landing.css' %}"/>
{% endblock %}
{% block content %}
    <div class="banner">
        <img src="media/site/landing_header.jpg" alt="Image">
    {% if user.is_authenticated %}
        <div style="height: 15vw;" class="overlay accounts-overlay">
            <img style="margin: 1vw;"src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content form-register">
                <h3>Welcome back {{user.first_name}}!</h3></br>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="big-container">
        <div class="centered-container">
          <img src="media/site/marcus-lofvenberg-LyghSgFG8QQ-unsplash.jpg" alt="Image">
            <form class="search" acton="#" method="POST"> 
<!--This form will be replaced/updated with a form from the backend, similar to the registration page, once we get to the registration back end stuff in mod 7-->
                <div class="grid-item">
                    <label for="first-date">
                        <img src="media/site/calendar_icon.png" alt="Logo" class="label-icon">
                        Check In:
                    </label>
                    <input type="date" id="first-date" name="first-date">
                </div>
                <div class="grid-item">
                    <label for="second-date">
                        <img src="media/site/calendar_icon.png" alt="Logo" class="label-icon">
                        Check Out:
                    </label>
                    <input type="date" id="second-date" name="second-date">
                </div>
                
                <div class="grid-item">
                    <label for="num-guests">
                        <img src="media/site/guest_icon.png" alt="Logo" class="label-icon">
                        Number of Guests
                    </label>
                    <select name="num-guests" id="num-guests">
                        <option value="1">1 guest</option>
                        <option value="2">2 guests</option>
                        <option value="3">3 guests</option>
                        <option value="4">4 guests</option>
                        <option value="5">5 guests</option>
                    </select>
                </div>
                <div class="grid-item">
                    <div class="search-button-item"><button id="search-button" type="submit">Search Now</button></div> 
                </div>
            </form>
        </div>
        <div class="overlay">
            <img src="media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content">
                <h3>Do it all. Here.</h3>
                <p>We have has something for everyone. Explore the beauty of Moffat Bay with our many attractions and guided tours, or simply relax on the sandy shores. The choice is yours.</p>
            </div>
            <div class="menu-button-item"id="info-button"><a href="#">Learn More</a></div>
        </div>
      </div>
    <div>
    <div class="our-rooms">
        <div class="rooms-text">
            <h3>Our Rooms</h3>
            <h1>The Perfect Space</h1>
            <p>At Moffat Bay Marina & Lodge, our luxurious accommodation offers a welcoming retreat after a day on the water. We can provide the perfect space for your stay.  Wake up to breathtaking sunrises over the bay, unwind under a starlit sky, or prepare yourself for a new adventure. Our staff is ready to pamper and serve you today!</p>
        </div>
        <div class="rooms-gallery">
            <div class="rooms-text-container">
                <img id="room_1" src="media/site/queen_bed.png" alt="Room 1">
                <p>1 GUEST</p>
                <h3>Queen Bed</h3>
                <img id="room_2" src="media/site/king_bed.jpg" alt="Room 1">
                <p>1-2 GUEST</p>
                <h3>King Bed</h3>
            </div>
            <div class="rooms-text-container">
                <img id="room_3" src="media/site/double_queen_cropped.png" alt="Room 1">
                <p>2-5 GUEST</p>
                <h3>Double Queen Beds</h3>
            </div>
            <div class="rooms-text-container">
                <img id="room_4" src="media/site/double_full.png" alt="Room 2">
                <p>2-4 GUESTS</p>
                <h3>Double Full Beds</h3>
                <img id="room_5" src="media/site/queen_bed2.jpg" alt="Room 1">
                <p>1 GUESTS</p>
                <h3>Queen Bed</h3>
            </div>  
        </div>
        <div class="room-button-item" id="room-button"><a href="#">View Our Spaces</a></div> 
    </div>
    <div class="about-info">
        <div class="about-text">
            <h1>ABOUT US</h1>
            <span class="aboutus-line"></span>
            <p>At Moffat Bay Marina & Lodge, we are more than just a destination; we are a sanctuary for those seeking a harmonious blend of aquatic adventure, relaxation, and natural beauty. Nestled along the tranquil shores of Moffat Bay, our marina and lodge offer an unparalleled escape from the ordinary.</p>
            <p>Escape to Moffat Bay Marina & Lodge and discover the magic of the water. Your voyage begins here.</p>
            <div class="explore-button-item" id="explore-button"><a href="#">Explore</a></div>  
        </div>
        <img id="about-image" src="media/site/sailing_cropped.png" alt="Sailing">
    </div>
    <div class="amenities-preview">
        <div class="amenities-text">
            <h1>CLASSIC ROOMS & AMENITIES</h1>
            <!--This might be too long, see what you think and how it fits with the responsive. Gives a starting point though.-->
            <p>Moffat-Bay Marina & Lodge invites you to embark on a journey of adventure, serenity, and connection with the beauty of nature. Whether you're here for a weekend getaway or an extended stay, our staff is dedicated to making your experience truly memorable.</p>
            <p>Discover the magic of the waterfront. Your voyage begins here.</p>
            <p><img id="five-stars" src="media/site/5_stars.png" alt="Stars"><br>500+ Reviews</p>
        </div>
        <div class="amenities-gallery">
            <div class="amenities-img-container">
                <img id="best-rooms" src="media/site/sky_room.png" alt="Bed">
                <h3>THE BEST ROOMS</h3>
                <p>Unwind in our premier rooms with stunning waterfront views and luxury</p>
            </div>
            <div class="amenities-img-container">
                <img id="lounge-bar" src="media/site/mixed_drink.jpg" alt="Bar">
                <h3>LOUNGE BAR</h3>
                <p>Sip, savor, and socialize in our chic waterfront lounge bar</p>
            </div>
            <div class="amenities-img-container">
                <img id="restaurant" src="media/site/restaurant.jpg" alt="Restaurant">
                <h3>RESTAURANT</h3>
                <p>Indulge in fresh seafood and scenic views at our waterfront eatery, Lighthouse Landing</p>
            </div>  
            <div class="amenities-img-container">
                <img id="island-marina" src="media/site/colorfull_dock.jpg" alt="Marina">
                <h3>MOFFAT-BAY MARINA</h3>
                <p>Your gateway to aquatic adventures and serene coastal relaxation awaits</p>
            </div>  
        </div>
    </div>
{% endblock %}