<!--

 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->
{% extends "reservations/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/lookup.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay-lookup">
        <div class="lookup-instructions">
            <h2 class="search-heading">
                <img src="../media/site/magnifying_glass.png" alt="Logo" id="search-heading-icon">
                Search Existing Reservations
            </h2>
            <p>Please enter the 7 character confirmation number you received with your booking confirmation in
                order to view your existing reservation. If you do not have your confirmation code please 
                reach out to use via email or phone. <a href="{% url 'about_us' %}#contact_us_here">Contact us here.</a>
            </p>
            <p>If you do not see your existing reservation listed. Please reach out to us via email. Place your name,
                contact information, reservation details, and confirmation number in the email and we will be happy 
                to help.
            </p>
        </div>
        <div class="search-container">
            {% if mySearchForm.searchConfirm.errors %}
                    {% for error in mySearchForm.searchConfirm.errors %}
                        <p class="search-input-error">{{ error }}</p>
                    {% endfor %}
            {% endif %}
            <form class="search" acton="#" method="POST"> {% csrf_token %}         
                <div class="grid-item">
                    <label for="num-guests">
                        <img src="../media/site/tag.png" alt="Logo" class="label-icon">
                        Confirmation # :
                    </label>
                    {{ mySearchForm.searchConfirm }}
                </div>
                <div class="grid-item">
                    <div class="search-button-item">
                        <button id="search-button" type="submit" name="reservation_lookup_submit">
                            <img src="../media/site/white_search.png" alt="Logo" id="search-button-icon">
                            Search Now
                        </button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
    {% if myReservation %}
        <div class="overlay-results">
            {% if messages %}
                {% for message in messages %}
                    {% if 'reservation-found-result' in message.tags %}
                        <h2 class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h3>Reservation Details for: #{{searchValue}}</h3>
            <div class="res-result-container">
                <div class="room-details">
                    <img src="../media/site/{{ myReservation.roomID.size }}.png" alt="Logo" id="room-photo">
                    <div class="details-container">
                        <b>{{ myReservation.roomID.size }} Room</b>
                        <p>Sleeps {{myReservation.guests}} guest(s)</p>
                        <p>1 Bathroom</p>
                        <p>1 Kitchenette</p>
                    </div>
                </div> 
                <div class="reservation-details">
                    <div class="booking-details">
                        <p><strong>Confirmation #:</strong> <span class="price">{{myReservation.confirmationKey}}</span></p>
                        <p><strong>Reservation #:</strong> <span class="price">{{myReservation.reservationID}}</span></p>
                        <p><strong>Total Stay Cost:</strong> <span class="total-cost">${{myReservation.totalPrice}}</span></p>
                        <p><strong>Check In:</strong> {{myReservation.checkInDate}}</p>
                        <p><strong>Check Out:</strong> {{myReservation.checkOutDate}}</p>
                        <p><strong>Room Details:</strong> {{ myReservation.roomID }}</p>
                        <p><strong># of Guests:</strong> {{myReservation.guests}}</p>
                        <p><strong>Email Contact:</strong> {{myReservation.userID}}</p>
                    </div> 
                </div>
            </div>
            <div>
                <button type="button" class="cancel-booking" id="show-custom-modal">Delete Reservation</button>
            </div>
            <!-- Custom Modal and Overlay -->
            <div class="modal-overlay" id="custom-modal-overlay"></div>
                <div class="custom-modal" id="custom-modal">
                    <div class="close-modal" id="custom-modal-close">&times;</div>
                    <h2>Warning!</h2>
                    <h3>You are about to delete your reservation</h3>
                    <h4>Please Read Carefully</h4>
                    <p class="custom-model-text">Pressing “Yes, Delete Reservation” will permanently delete this reservation.
                        You will lose your reserved booking dates and any information attached to the current 
                        reservation.</p>
                    <form id="delete-form" method="post" action="{% url 'delete_reservation' myReservation.reservationID %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <b>Are you sure you want to delete the following reservation?</b>
                            <div class="review-details-delete">
                                <p><strong>Confirmation #:</strong> <span>{{myReservation.confirmationKey}}</span></p>
                                <p><strong>Reservation #:</strong> <span>{{myReservation.reservationID}}</span></p>
                                <p><strong>Total Stay Cost:</strong> <span>${{myReservation.totalPrice}}</span></p>
                                <p><strong>Check In:</strong> {{myReservation.checkInDate}}</p>
                                <p><strong>Check Out:</strong> {{myReservation.checkOutDate}}</p>
                                <p><strong>Room Details:</strong> {{ myReservation.roomID }}</p>
                                <p><strong># of Guests:</strong> {{myReservation.guests}}</p>
                                <p><strong>Email Contact:</strong> {{myReservation.userID}}</p>
                            </div> 
                            <input type="hidden" name="reservation_id" value="{{ myReservation.reservationID }}">
                            <button type="button" id="do-not-cancel" class="cancel-booking" data-dismiss="modal">No, Keep Reservation</button>
                            <button type="submit" id="yes-cancel" class="cancel-booking" name="delete_reservation_button">Yes, Delete Reservation</button>
                        </div>
                    </form>
                </div>
            </div>
    {% else %}
        {% if messages %}
            {% for message in messages %}
                {% if 'not-found-result' in message.tags %}
                <div class="overlay-results" style="padding-bottom: 4vw;">
                    <h2 class="not-found {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
                </div>
                {% endif %}
                {% if 'reservation-delete-info' in message.tags %}
                <div class="overlay-results" style="padding-bottom: 4vw;">
                    <h2 class="not-found {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div> <script>
    // JavaScript to handle modal interaction
    document.getElementById("show-custom-modal").addEventListener("click", function() {
        document.getElementById("custom-modal").style.display = "flex";
        document.getElementById("custom-modal-overlay").style.display = "block";
    });
     
    // Close the modal when clicking cancel-booking
    document.getElementById("do-not-cancel").addEventListener("click", function() {
        document.getElementById("custom-modal").style.display = "none";
        document.getElementById("custom-modal-overlay").style.display = "none";
    });

    // Close the modal when clicking the X
    document.getElementById("custom-modal-close").addEventListener("click", function() {
        document.getElementById("custom-modal").style.display = "none";
        document.getElementById("custom-modal-overlay").style.display = "none";
    });

    // Close the modal when clicking outside of it
    document.getElementById("custom-modal-overlay").addEventListener("click", function(e) {
        if (e.target === this) { // Only close if the click is on the overlay itself
            document.getElementById("custom-modal").style.display = "none";
            document.getElementById("custom-modal-overlay").style.display = "none";
        }
    });
</script>
{% endblock content%}