<!--

 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% extends "reservations/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/landing.css' %}"/> <!-- change to about us page css/ whatever css needed-->
{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br>
<form method="POST">
    {% csrf_token %}
    {{ mySearchForm}}
    <div class="search-button-item"><button id="search-button" type="submit" name="reservation_lookup_submit">Search Now</button></div>
</form>
<br>
{% if searchValue %}
    <h2>Search Value: {{searchValue}}</h2>
{% endif %}
<!--Add reservation info/overlay here - with messages section included-->
{% if messages %}
        {% for message in messages %}
            {% if 'reservation-found-result' in message.tags %}
                <b class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</b>
            {% endif %}
        {% endfor %}
    {% endif %}
<h2>Results:</h2>
{% if myReservation %}
  <ul>
    <p><strong>Total Stay Cost:</strong> <span class="total-cost">${{ myReservation.totalPrice }}</span></p>
    <p><strong>Check In:</strong> {{ myReservation.checkInDate }}</p>
    <p><strong>Check Out:</strong> {{ myReservation.checkOutDate }}</p>
    <p><strong>Room Size:</strong> {{ myReservation.roomID.size }}</p>
    <p><strong>Room #:</strong> {{ myReservation.roomID }}</p>
    <p><strong># of Guests:</strong> {{ myReservation.guests }}</p>
    <p><strong>Email Contact:</strong> {{ myReservation.userID.email }}</p>
    <p><strong>Reservation #:</strong> <span class="price">{{ myReservation.reservationID }}</span></p>
    <p><strong>Confirmation #:</strong> <span class="price">{{ myReservation.confirmationKey }}</span></p>
    <hr>
  </ul>
{% else %}
    {% if messages %}
        {% for message in messages %}
            {% if 'not-found-result' in message.tags %}
                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}