.form-group{
    border: none;
}

.banner {
    height: auto; 
    overflow: hidden;
  }
.banner img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5vh; 
    padding: 0; 
}
.big-container {
    display: flex;
    background-color: #1E1E1E;
    justify-content: center;
    align-items: center;
    position: relative; /* To contain positioned children */
    height: 90vh; /* Set the desired height */
}

.centered-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 90%;
    width: 80%;
    border-radius: 20px;
    background-color: #C3BBBB;
    position: relative; /* To contain positioned children */
}

.centered-container img {
    width: 25%; /* Set your desired width */
    height: 25%; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    border-radius: 50%;
    margin: 20px;
}

.overlay {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    height: auto;
    padding-bottom: 2%;
    background-color: rgba(245, 243, 243, 0.801); /* Example overlay color */
    border-radius: 20px;
}
.text-content {
    text-align: center;
}
.text-content p {
    font-size: 15px;
    padding: 20px 50px 20px 50px;
}
.overlay img {
    margin: 20px;
    max-width: 20vw;
    min-width: 18vh;
}
.overlay .menu-item button {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    
    margin-left:10%;
    margin-right: 10%;

}
.search {
    background-color: #82BB81;
    height: 10%;
    width: 70%;
    border-radius: 50px;
}
.overlay .account-img {
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 3vh;
}

.alert-overlay {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 75%;
    height: auto;
    padding-bottom: 2%;
    background-color: rgba(245, 243, 243, 0.801); /* Example overlay color */
    border-radius: 20px;
}

.form-control {
    text-align: center;
    border: 0;
    max-width: 40%;
    margin-left:30%;
    margin-right: 30%;
    padding-top: 5px;
    font-weight: bold;
}

.form-control input{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-control-forgot-password {
    text-align: center;
    border: 0;
    padding-top: 5px;
}

.form-control-forgot-password input{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-control-reset-password {
    text-align: center;
    border: 0;
    max-width: 90%;
    margin-left: 5%;
    
}

.form-control-reset-password input{
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-control input:invalid{
    border: 1.5px solid red;
}

.overlay-register {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: auto;
    padding-bottom: 2%;
    background-color: rgba(245, 243, 243, 0.801); /* Example overlay color */
    border-radius: 20px;
}
.overlay-register img {
    margin: 20px;
    max-width: 20vw;
    min-width: 18vh;
}

.form-register {
    text-align: center;
    border: 0;
    max-width: 100%;
    padding-top: 5px;
    font-weight: bold;
}

.form-register input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
}

.register-table{
    text-align: right;
}

.register-table-center{
    text-align: center;
}

.register-table-center-password{
    text-align: center;
    font-weight: normal;
}

.register-table-password1 input{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
    width: 200px;
}