/*
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team
*/
.banner.attractions{
    height: auto; 
    overflow: hidden;
    position: relative;
}
.banner-info-container {
    position: absolute; 
    top: 53%; 
    left: 67.5%; 
    transform: translate(-50%, -50%);
    background-color: #121212a4; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: fit-content;
}
.info-banner-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw 1vw 1vw 1vw;
}

.info-banner-line {
    display: block;
    width: 13vw;
    height: .12vw;
    background-color: #fafafaa6; 
    margin: 1.5vw;
}

.info-banner-text h2 {
    font-size: 2.5vw;
    color: #fff;
}
.info-banner-text h3 {
    font-size: 2vw;
    color: #fff;
    font-weight: 300;
}

.info-banner-text p {
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.7em;
    margin: 2vw 2.6vw;
    color: #fff;
}

.banner.attractions img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5vh; 
    padding: 0; 
}
.about-logo-gallery {
    grid-column: span 2;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
#feature-logo {
    height: 8vw;
    width: auto;
    margin: 2.5vw 0 1.5vw 0;
}
.about-feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); 
    gap: 10px;
    background-color: #121212;
    height: auto;
    position: relative;
    margin-bottom: 14vw;
}
.about-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw; /* Adjust the gap between grid items */
    width: 46vw;
    margin: 1.5vw 6vw 12vw 0vw;

}
.grid-item-large {
    grid-row: span 2; /* This item spans two rows */
}
#scuba-diving .grid-item-large {
    grid-column: span 2; /* This item spans two columns */
}
#scuba-diving .about-feature-image-tall {
    width: 46vw;
    height: 21vw;
}
.about-feature-image-tall {
    height: 44vw;
    width: 22vw;
}
.grid-item img {
    width: 22vw;
    height: 21vw;
}
.about-feature-text {
    flex: 1; 
    padding: 8vw 0 3vw 8vw; 
    text-align: left; 
}
.about-feature-line {
    display: block;
    width: 25vw;
    height: .2vw;
    background-color: #82BB81; 
    margin: .5vw 0 3vw 0; 
}

.about-feature-text h1 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    color: #fff;
}

.about-feature-text p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 1.2vw;
    color: #ffffffc9;
    width: 25vw;
}

#explore-button a{
    font-size: 1vw;
    background-color: #82BB81;
    border: .3vw solid #82BB81;
    padding: .8vw 4vw;
    float: left;
    margin: 3vw 0 1.5vw 8vw;
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    border-radius: 2vw;
}
#explore-button a:hover {
    background-color: #121212;
    color: #fff;
}
.circle-info {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
    position: absolute;
    bottom: 0; 
    transform: translateY(50%); 
}
.circle {
    width: 16vw; 
    height: 16vw; 
    border-radius: 50%; /* Create a circle */
    background-color: #82BB81; /* Circle background color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7vw;
}

.circle-inner {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: #ffffffc4; 
    gap: 1vw;
}
.circle-inner p{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 400;
    padding: .5vw;
    width: 10vw;
    line-height: 1.4em;
}
