/*
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team
*/
.banner-rooms{
    height: auto; 
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.banner-rooms-container {
    display: flex;
    align-items: center;
    margin-top: 9%;
    background-color: #c1dfe2;
    height: 40vw;
    width: 90%;
    border-radius: 2vw;
}
.banner-info-container {
    padding: 20px; 
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.banner-rooms-container img {
    height: 100%;
    width: 50%;
    border-radius: 1vw 2vw 2vw 1vw;
    overflow: hidden;
}
.info-banner-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 3vw 0 0 2vw;
}

.info-banner-text h1 {
    font-size: 3.5vw;
    color: #121212;
}

.info-banner-text p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.8em;
    color: #121212;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}
.search {
    position: absolute;
    top: 83%;
    background-color: #fdfdfd;
    height: auto;
    min-height: 4.5vw;
    width: 60vw;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: .7vw 1vw;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.grid-item:nth-child(2),
.grid-item:nth-child(3){
    border-right: 1px solid #cac4c4c0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

.search .search-button-item {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.search-button-item a {
    text-decoration: none;
    text-align: center;
}
#search-button {
    font-size: 1.1vw;
    font-weight: 400;
    color: #fff;
    background-color: #82BB81;
    border: .3vw solid #82BB81;
    border-radius: 2vw;
    margin: 0 .1vw 0 1vw;
    padding: 1vw 3vw;
    min-width: 14vw;
    cursor: pointer;
}
#search-button:hover {
    color: #fff;
    background-color: #9fce9eb6;
}
.grid-item label {
    display: flex; 
    align-items: center; 
    color: #121212;
    font-size: 1.1vw;
    font-weight: 400;
    padding-bottom: 5px;
    gap: 10px;
}
.grid-item .label-icon{
    width: 1.4vw; 
    height: auto;
    margin: 0; 
    vertical-align: middle;
    border-radius: 0;
    vertical-align: middle;

}
.grid-item input,
.grid-item select {
    font-size: .9vw;
    width: 7vw;
    height: auto;
    border: .1vw solid #121212;
    border-radius: 5px;
    background-color: #fff;
}

.our-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4vw;
}
.rooms-text {
    text-align: center;
}
.rooms-text h1,
.rooms-text h3,
.rooms-text p {
    margin: 2vw;
    width: 40vw;
}
.rooms-text p {
    color:#1e1e1ea6;
    font-size: .8vw;
    line-height: 1.7em;
}
.rooms-text h1 {
    font-size: 2.3vw;
}
.rooms-text h3 {
    font-size: 1.5vw;
    margin-top: 3vw;
}
.room-button a {
    text-decoration: none;
    color: #fff;
}
.room-button {
    font-size: 1vw;
    font-weight: 400;
    background-color: #82BB81;
    border: .3vw solid #82BB81;
    border-radius: 2vw;
    padding: .7vw 3vw;
    cursor: pointer;
    width: 12vw;
    text-align: center;
}
.room-button:hover {
    background-color: #9fce9eb6;
}  
.rooms-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}
.middle-info {
    width: 30vw;
    text-align: center;
    margin-top: 1vw;
}
.rooms-text-container p {
    margin-bottom: .5vw;
    margin-top: .8vw;
    font-size: 1vw;
    color:#1e1e1ea6;
}
.rooms-text-container h3 {
    margin-bottom: 1.3vw;
    font-size: 1.5vw;
}
.rooms-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw; 
    margin: 3vw;
    width: 85%;
}

.rooms-gallery img {
    width: 75vw;
    height: 40vw;
}
.room-preview {
    display: flex;
    justify-content: center;
}
.room-preview-container {
    margin-top: 10vw;
    width: 83%;
    height: 32vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .8vw; /* Adjust the gap as needed */
}

.room-item {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.room-item.big {
    grid-row: span 2; /* This item spans 2 columns */
}
.room-item.big img {
    width: 40vw;
    display: block;
    object-fit: cover; 
    object-position: center center; 
    height: 100%; 
}
/* Optional: Set a fixed height for all grid items to maintain uniformity */
.room-item img {
    width: 20vw;
    object-fit: cover; 
    object-position: center center; 
    height: 100%;
    border-radius: .5vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
    transition: transform 0.2s ease-in-out;
}
.room-item:hover img {
    cursor: pointer; /* Change cursor to pointer on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.486); /* Add shadow on hover */
    transform: scale(1.02);
}
.big img,
.small img{
    transition: all .2s ease-in-out; 
}

.image-transition {
    opacity: 0; 
}
.details-container {
    display: flex;
    justify-content: center;
    padding: 2vw 0 2vw 0;
}
.reservation-container {
    display: flex;
    justify-content: space-between;
    width: 83%;
    background-color: #c1dfe2;
    border-radius: .5vw;
    padding: 2vw;
}
#confirm-booking,
#cancel-booking {
    width: 18vw;
    margin-left: 1vw;
}
#cancel-booking {
    background-color: #b84141;
    border-color: #b84141;
}
#cancel-booking:hover {
    background-color: #b8414194;
}

.room-details {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 60%;
}
.room-details h1 {
    font-size: 2.5vw;
    margin-left: 1vw;
}
.room-details h2 {
    font-size: 1.8vw;
    margin-left: 1vw;

}
.room-details p {
    font-size: 1.2vw;
    margin-left: 1vw;
}
.amenities-container {
    background-color: white; /* Background color for the container */
    padding: 20px;
    border: .1vw solid #ccc;
    border-radius: .5vw;
    margin-top: 2vw;
}

.amenities-container h2 {
    font-size:1.5vw; /* Adjust the font size as needed */
    margin-bottom: 2vw;
}

.amenities {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.amenity {
    flex: 0 0 calc(40% - 1vw); /* Adjust the width of each amenity (33.33% for three items per row) */
    margin: 1vw; /* Add spacing below each amenity */
}

.amenity img {
    width: 2vw; /* Adjust the max width for the amenity logos */
    margin-left: 1vw;
}

.amenity p {
    font-size: 1.2vw;
}
.room-details-text {
    color: #0e0d0d9d;
    font-size: .8vw;
    line-height: 1.5em;
    margin-bottom: 1.5vw;
    width: 35vw;
    
}
.booking-details {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    padding: 1.5vw;
    border: .1vw solid #ccc;
    border-radius: .5vw;
    width: 30vw;
    height: fit-content;
    text-align: left;
    margin: 1vw;
}
.booking-details p {
    font-size: 1.2vw;
    margin-left: 1vw; 
}
.booking-details h2 {
    font-size: 1.8vw;
    font-weight: 500;
    padding-bottom: 2.5vw;
    text-align: center;
}

.booking-detailsstrong {
    font-weight: bold;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin: 2vw;
}
.price {
    font-size: 1.5vw; /* Adjust the font size as needed */
    color: #007BFF; /* Choose a color that fits your design */
    font-weight: bold;
    background-color: #F0F0F0; /* Optional: Add a background color */
    padding: .2vw 1vw; /* Optional: Add padding for spacing */
    border-radius: .4vw; /* Optional: Add rounded corners */
}

.total-cost {
    font-size: 1.5vw; /* Adjust the font size as needed */
    color: #28A745; /* Choose a color that fits your design */
    font-weight: bold;
    background-color: #F0F0F0; /* Optional: Add a background color */
    padding: .2vw 1vw; /* Optional: Add padding for spacing */
    border-radius: .4vw; /* Optional: Add rounded corners */
}

.success,
.info,
.warning,
.error,
.errorlist {
    font-size: 1vw;
    font-weight: 500;
    color:#b84141;
}
/* styling of room search and feture container under 750px */
@media (max-width: 750px) { 
    .search {
        width: 65%; 
    }
    .grid-item label {
        padding-bottom: 2px;
        gap: 2px;
    }
    .grid-item input,
    .grid-item select {
        font-size: .8vw;
        width: 9vw;
        height: 1.5vw;
        border: none;
        border-radius: 2px;
        border: .05vw solid #121212;
        background-color: #fff;
    }
    .centered-container,
    .centered-container img,
    .overlay {
        border-radius: 10px;
    }
    .centered-container {
        width: 90%;
    }
    .banner-rooms-container {
        margin-top: 13%;
    }
    .info-banner-text {
        padding: 1vw 0 0 1vw;
    }
    .room-preview-container {
        margin-top: 13vw;
    }
}
#msg_two {
    display: none;
}
/* styling of room search and feture container under 550px */
@media (max-width: 550px) {
    #msg_one {
        display: none; /* Hide the default text */
    }

    #msg_two {
        display: block;
    }
}