.banner {
    height: auto; 
    overflow: hidden;
  }
.banner img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5vh; 
    padding: 0; 
}
.big-container {
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    position: relative; /* To contain positioned children */
    height: 45vw; /* Set the desired height */
    padding: 40px
}

.centered-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 40vw;
    width: 80%;
    border-radius: 20px;
    background-color: #C3BBBB;
    position: relative; /* To contain positioned children */
    padding: 1vw;
}
.centered-container img {
    width: 100%; /* Set your desired width */
    height: 85%; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    border-radius: 20px;
    margin: 0 0 1vw 0;
}
.overlay {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 12%;
    left: 38%;
    width: 23vw;
    height: auto;
    background-color:rgba(245, 243, 243, 0.637);; /* Example overlay color */
    border-radius: 20px;
    padding-bottom: 1.5vw;
}
.text-content {
    text-align: center;
}
.text-content h3 {
    font-size: 1.3vw;
}
.text-content p {
    font-size: .8vw;
    padding: 1vw 4vw 1vw 4vw;
    line-height: 1.7em;
}
.overlay img {
    margin: 1vw;
    max-width: 20vw;
    min-width: 18vw;
}
.overlay .info button {
    margin-top: .8vw;
    font-size: .8vw;
    font-weight: 400;
    padding: .4vw 2vw;
    border: .2vw solid #121212;
}
.info button {
    margin: 1vw;
}
.info button:hover {
    background-color: rgba(245, 243, 243, 0.801);
    font-weight: 700;
}  
.search {
    background-color: #82BB81;
    height: auto;
    width: 75%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: .3vw;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.grid-item:nth-child(-n+2) {
    position: relative;
}
.grid-item:nth-child(-n+2)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 68%; /* Adjust the height of the border */
    width: 1px; /* Width of the border */
    background-color: #e8e8e8b9; /* Color of the border */
    transform: translateY(25%); /* Center the border vertically */
}
.search .menu-item.search {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
#search-button {
    font-size: 1vw;
    font-weight: 400;
    background-color: #82BB81;
    border: .3vw solid #ffff;
    margin: 0 .5vw 0 2vw;
    padding: 1vw 2vw;
    min-width: 12vw;
}
#search-button:hover {
    color: #fff;
    background-color: #9fce9eb6;
}
.grid-item label {
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    color: #fff;
    font-size: 1vw;
    font-weight: 400;
    padding-bottom: 5px;
    gap: 10px;
}
.grid-item .label-icon{
    width: 1.4vw; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    margin: 0; /* Adjust the spacing between icon and label */
    vertical-align: middle;
    border-radius: 0;
    vertical-align: middle;

}
.grid-item input,
.grid-item select {
    font-size: .8vw;
    width: 7vw;
    height: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}
/* styling of room search and feture container under 750px */
@media (max-width: 750px) { 
    .search {
        width: 80%; /* Full width */
    }
    .grid-item label {
        padding-bottom: 2px;
        gap: 2px;
    }
    .grid-item input,
    .grid-item select {
        font-size: .8vw;
        width: 9vw;
        height: 1.5vw;
        border: none;
        border-radius: 2px;
        background-color: #fff;
    }
    .centered-container,
    .centered-container img,
    .overlay {
        border-radius: 10px;
    }
    .centered-container {
        width: 90%;
    }
}
.our-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4vw;
}
.rooms-text {
    text-align: center;
}
.rooms-text h1,
.rooms-text h3,
.rooms-text p {
    margin: 2vw;
    width: 40vw;
}
.rooms-text p {
    color:#1e1e1ea6;
    font-size: .8vw;
    line-height: 1.7em;
}
.rooms-text h1 {
    font-size: 2.3vw;
}
.rooms-text h3 {
    font-size: 1.5vw;
    margin-top: 3vw;
}
.menu-item #room-button {
    font-size: 1vw;
    font-weight: 500;
    padding: 1vw 6vw;
    background-color: #82BB81;
    border: .3vw solid #82BB81;
    border-radius: 1.5vw;
    margin: 1vw 0 3vw 0;
}
.menu-item #room-button:hover {
    background-color: #fff;
    font-weight: 700;
}
.rooms-text-container p {
    margin-bottom: .5vw;
    margin-top: .8vw;
    font-size: .8vw;
    color:#1e1e1ea6;

}
.rooms-text-container h3 {
    margin-bottom: 1.3vw;
    font-size: 1.2vw;
}
.rooms-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 1vw; /* Add spacing between pictures */
    margin: 1.5vw 6vw 3vw 6vw; /* Add spacing from the content above */
    width: 85%;
}

.rooms-gallery img {
    width: 24vw;
    height: 19vw;
    object-fit: cover;
}
.rooms-gallery #room_3 {
    width: 24vw;
    height: 100%;
}
.rooms-text-container {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}
.about-info {
    display: flex;
    justify-content: space-between; /* Place the items at opposite ends */
    align-items: center; /* Vertically center the content */
    background-color: #121212;
    height: auto;
}

.about-text {
    flex: 1; /* Take up 50% of container width */
    padding: 3vw 0 3vw 13vw; /* Space between text and image */
    text-align: left; /* Align text content to the left */
}

.aboutus-line {
    display: block;
    width: 12vw;
    height: .2vw;
    background-color: #82BB81; /* Green line color */
    margin: .5vw 0 3vw 0; /* Adjust spacing */
}

.about-text h1 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    color: #fff;
}

.about-text p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 1.2vw;
    color: #ffffff8c;
    width: 25vw;
}

#explore-button {
    font-size: 1vw;
    background-color: #82BB81;
    border: .3vw solid #82BB81;
    padding: .8vw 4vw;
    float: left;
    margin: 1.5vw 0 1.5vw 0;
}
#explore-button:hover {
    background-color: #121212;
    color: #fff;
}
.about-image {
    flex: 1; /* Take up 50% of container width */
    text-align: right; /* Align image to the right */
}

#about-image {
    width: 43vw;
    height: 43vw;
}
.amenities-preview {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1/3 for text, 2/3 for gallery */
    gap: 20px; /* Adjust the gap between the text and gallery */
    padding: 5vw 5vw 5vw 5vw;
}

.amenities-text {
    padding: 10vw 5vw 2vw 3vw;
}
.amenities-text h1 {
    font-size: 2.4vw;
}
.amenities-text p {
    color: #1e1e1ea6;
    font-size: .9vw;
    line-height: 1.5em;
}
.amenities-text h1,
.amenities-text p {
    margin-bottom: 4vw;
}
.amenities-text #five-stars {
    width: 8vw;
    height: auto;
}

.amenities-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 4vw; /* Adjust the gap between grid cells */
    width: fit-content;
    position: relative;
    top: -8vw; /* Adjust the value to control the overlap */
    z-index: 1; /* Lower z-index to place it behind the about-info container */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.amenities-img-container {
    background-color: #c3bbbb;
    padding: 1vw;
    width: 27vw;
    height: 24.5vw
}
.amenities-img-container img {
    width: 25vw;
    height: 17vw;
}
.amenities-img-container h3 {
    font-size: 1.3vw;
    font-weight: 600;
} 
.amenities-img-container p {
    color: #1e1e1ea6;
    font-size: .9vw;
    line-height: 1.5em;
}
.amenities-img-container p,
.amenities-img-container h3 {
    margin: .3vw 0vw 0vw .4vw;
    width: 21vw;
}


  
