 /*
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team
*/

/* Header stuff */
.site-header {
    background-color: #82BB81;
    color: black;
    height: 75px;
    width: 100%;
    padding-top:35px;
    display: inline-flex;
    font-size: 20px;
    position: fixed;
}

.site-header button {
    background-color: black;
    border: none;
    height: 35px;
    width: 125px;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.site-header .nav-item{
    padding-left:30px;
    padding-right: 30px;
    text-align: justify;
}

.site-header nav{
    width: auto;
    color: black;
}

.site-header a:link{
    color: black;
    text-decoration: none;
}


.content-section {
    margin-top: 100px;
}

/*account % profile stuff*/
.rounded-circle {
    border-radius: 50%;
}

.account-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.accounts-background {
    width: 100%;
    height: auto;
    background-image: url('/moffat_bay/media/site/landing_header.jpg');
    background-size: cover;
    background-position: center center;
}

.content-rect {
    margin: 10%;
    background-color: rgb(255, 255, 255, 0.7);
}