<!--
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay accounts-overlay">
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content form-register">
                <h3>Create New Password</h3>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-control">
                        {{ form }}
                    </fieldset>
                    <button class="login-button" type="submit">Reset Password</button>
                </form>
            </div>
    </div>
</div>
{% endblock content %}
