<!--
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay accounts-overlay">
        <img src="/media/site/logo1_variant1.png" alt="Logo">
        <div class="text-content form-register">
            <p>If the email address entered matches an account in our system, an email will been sent with instructions to reset your password.</p>
            <button class="login-button" onclick=window.location.href="{% url 'login' %}">Return to Login</button>
        </div>
    </div>
</div>
{% endblock content %}
