<!--
 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->

{% extends "reservations/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reservations/accounts.css' %}"/>
<link rel="icon" type="/image/x-icon" href="/media/site/anchorwhite.png">
{% endblock %}
{% block content %}
<div class="banner">
    <img src="/media/site/user_banner2.jpg" alt="Image">
    <div class="overlay-register">
        {% if messages %}
            <br>
            {% for message in messages %}
                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <img src="/media/site/logo1_variant1.png" alt="Logo">
            <div class="text-content form-register">
                <h3>Update {{user.first_name}} {{user.last_name}}'s Profile:</h3></br>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-register">
                        <div class="register-grid-container">
                            <div class="register-section"><label class="register-label">*First Name:&nbsp;</label><div class="register-input">{{form.first_name}}</div></div>
                            <div class="register-section"><div class="register-label">*Last Name:&nbsp;</div><div class="register-input">{{form.last_name}}</div> </div>
                            <div class="register-section"><div class="register-label">*Email Address:&nbsp;</div><div class="register-input">{{form.email}}</div> </div>       
                            <div class="register-section"><div class="register-label">*Phone:&nbsp;</div><div class="register-input">{{form.phone}}</div> </div>
                            <div class="register-section"><div class="register-label">Address:&nbsp;</div><div class="register-input">{{form.street}}</div></div>
                            <div class="register-section"><div class="register-label">City:&nbsp;</div><div class="register-input">{{form.city}}</div> </div>
                            <div class="register-section"><div class="register-label">State:&nbsp;</div><div class="register-input">{{form.state}}</div> </div>
                            <div class="register-section"><div class="register-label">Zipcode:&nbsp;</div><div class="register-input">{{form.zip}}</div> </div>
                        </div>
                    </fieldset>
                    <button class="login-button" type="submit">Update</button>
                </form>
                </div>
            </div>
        </div>
{% endblock content %}
