<!--

 Mark Witt / Brittany Kyncl
 CSD-440: Capstone Project
 Moffat-Bay Lodge - Bravo Team

-->


{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'reservations/admin.css' %}"/>{% endblock %}
{% block nav-sidebar %}{% endblock %}

{% block content %}
    Current Prices:<br>
        {% for cost in stay_costs %}
            {{cost.guests}} Guests:   ${{cost.price}}<br>
        {% endfor %}
        <br><br>
        {{ label }}<br><br>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="submit-row">
            <input type="submit" value="Update Prices" class="default" name="_save">
            <!--insert cancel changes button here-->
            <a href="/admin/reservations/stay_costs" class="deletelink">Cancel Changes</a>
            
        </div>
    </form>
{% endblock %}